:root {
    --yellow: #dea30e;
    --purple: #6e00cc;
    --border-color: rgba(255, 255, 255, 0.336);
}

html {
    scroll-behavior: smooth;
}  

main, nav {
    position: relative;
}

body {
    background-color: var(--yellow);
    display: flex;
    flex-direction: column;
    /* height: 100vh; */
    margin: 0px;
    overflow-x: hidden;
    font-family: 'Courier Prime', monospace;
    color: white;
    font-size: 23px;
}

* {
    box-sizing: border-box;
}

h1, h2, h3, h4, p, span {
    font-family: 'Courier Prime', monospace;
    color: white;
    margin: 0;
    margin-bottom: 1%;
}

h1 {
    /* font-weight: 700; */
    font-size: 5vw;
    
}

h2 {
    font-size: 3vw;
    /* line-height: 5vh; */
}

h3 {
    font-size: 2vw;
}

a {
    text-decoration: none;
    font-family: 'Courier Prime', monospace;
    color: white;
}

a:hover {
    color: var(--purple);
}

nav {
    display: flex;
    width: 100%;
    /* border-bottom: 1px solid var(--border-color); */
    height: 10%;
    font-size: 42px;
}

nav .nav_section {
    display: flex;
    gap: 1rem;
    padding: 1.5rem 2rem;
    /* border-left: 1px solid var(--border-color); */
    align-items: center;
    justify-content: center;
    flex-basis: calc(100% / 2);
    color: white;
}

section {
    padding: 4%;
    height: 100%;
    /* display: grid; */
}

.fa-brands:hover, .fa-rocket:hover, .fa-envelope:hover {
    color: var(--purple);
}

#menu {
    justify-content: flex-start;
}

#contacts {
    justify-content: flex-end;
}

#contacts a:not(:last-child){
    margin-right: 0.5vw;
}

#about {
    height: 90vh;
}


footer {
    padding: 2rem;
}

#bg {
    position: fixed;
    top: 0;
    left: 0;
    /* height: 100vh;
    width: 100vw; */
    z-index: 0;
    filter: blur(5px);
}

.accent {
    color: var(--purple);
    
}

.project {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 40px;
    align-items: center;
    margin-bottom: 30px; 
}

.project-canvas {
    background-color: #6e00cc;
    display: flex;
    justify-content: center;
    align-items: center; 
    height: 300px;
}

.project-right .project-content {
    order: 1;
}

li {
    list-style-type: circle;
    margin-left: 0px;
}
  

@media (max-width: 700px) {
    body {
        font-size: 16px;
    }

    nav {
        font-size: 30px;
    }

    h1 {
        font-size: 35px;
        
    }
    
    h2 {
        font-size: 23px;
    }
    
    h3 {
        font-size: 20px;
    }

    .project {
        grid-template-columns: 1fr; /* Stack elements vertically on small screens */
    }
    
    .project-content, .project-canvas {
        order: 0; /* Reset order to default for all elements */
    }

    .project-canvas {
        order: 1; /* Ensure the canvas is always below the text on small screens */
    }
}
